<div id="<%= dom_id invoice %>">
  <p>
    <strong>Invoice date:</strong>
    <%= invoice.invoice_date %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= invoice.due_date %>
  </p>

  <p>
    <strong>Total amount:</strong>
    <%= invoice.total_amount %>
  </p>

  <p>
    <strong>Invoice status:</strong>
    <%= invoice.invoice_status %>
  </p>

</div>
